.menu {
  margin: 25px 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #f6f6f6;
}
.menu button {
  padding-bottom: 10px;
  cursor: pointer;
}
.menu button:first-of-type {
  margin-right: 20px;
}
.menu button:first-of-type.active,
.menu button:last-of-type.active {
  border-bottom: 1px solid #818181;
}
