.pokemon-description_container{
    position: fixed;
    bottom: 0vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    right: calc(50vw - 200px);
    padding: 40px;
    box-shadow: #f8f8f8 0 -10px 10px;
    border-radius: 8px 8px 0 0;
    height: 80px;
    width: 400px;
}

.pokemon-description_container h2{
    font-size: 20px;
    margin: 0;
}

.pokemon-description_container h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.pokemon-description_container ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    padding: 0;
    text-align: center;
    height: 100%;
    margin: 0;
}

.pokemon-description_container li{
    list-style-type: none;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #F6F6F6;
}

.pokemon-description_container span{
    color:#c6c6c6;
}