.input-search-bar{
    width: 60vw;
    height: 30px;
    margin: 20px 0;
    box-shadow: #f8f8f8 0 10px 10px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.input-search{
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 15px;
    flex: 1;
}

.input-search-bar svg{
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding-right: 15px;
}